@font-face{font-family:'Playfair Display';src:url('../fonts/playfairdisplay-webfont.html');src:url('../fonts/playfairdisplay-webfontd41d.html?#iefix') format('embedded-opentype'),
url('../fonts/playfairdisplay-webfont-2.html') format('woff'),
url('../fonts/playfairdisplay-webfont-3.html') format('truetype'),
url('../fonts/playfairdisplay-webfont-4.html#latolight') format('svg');font-weight:normal;font-style:normal;}