.site-header #cshero-header-top {
  padding-top: 10px;
  padding-bottom: 10px; }
  .site-header .cshero-main-header {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 300ms ease; }
  .site-header.header-fixed .cshero-main-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.9); }

@media (max-width: 1249px) {
  .menu-item {
    font-size: 20px; } }
